footer {
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:30px;
  padding-block:30px
}
footer>span {
  font-size:10px;
  color:var(--muted)
}
footer>div {
  display:flex;
  gap:22px;
  font-size:10px
}
