@import "./root.css";

/* header */
.navbar {
  height: var(--header-height);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  background-color: var(--bg-navbar);
  position: relative;
  z-index: 100;
}

/* Marca */
.navbar__brand {
  display: flex;
  align-items: center;
  gap: 15px;
}

.brand-square {
  width: 18px;
  height: 18px;
  background-color: var(--primary-pink);
  display: block;
}

.brand-text {
  display: flex;
  align-items: center;
  gap: 10px;
}

.brand-text h1 {
  font-size: 1.4rem;
  font-weight: 800;
  color: var(--text-navbar);
  letter-spacing: -0.5px;
}

.brand-role {
  margin-top: 6px;
  font-size: 0.8rem;
  font-weight: 300;
  color: var(--text-navbar);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.navbar__menu {
  display: flex;
  align-items: center;
  gap: 30px;
}

/* Links */
.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-links a {
  white-space: nowrap;
  text-decoration: none;
  color: var(--text-navbar);
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: color 0.3s ease;
}

a.links--contact {
  background-color: var(--bg-contact-btn);
  padding: 16px;
  border-radius: 8px;
  color: var(--text-contact-btn);
}

a.links--contact:hover {
  background-color: var(--hover-bg);
}

.nav-links a:hover {
  color: var(--primary-pink);
}

.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 1.8rem;
  color: var(--text-black);
  cursor: pointer;
  z-index: 101;
}

/* Responsividade */
@media (max-width: 768px) {
  .brand-role {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .navbar__menu {
    position: absolute;
    top: var(--header-height);
    left: -100%;
    width: 100%;
    height: calc(100vh - var(--header-height));
    background-color: var(--bg-white);
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 50px;
    gap: 40px;
    transition: left 0.4s ease;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
  }

  .navbar__menu.active {
    left: 0;
  }

  .nav-links {
    flex-direction: column;
    gap: 30px;
    text-align: center;
  }

  .nav-links a {
    font-size: 1.2rem;
  }
}
